body {
  margin: 0px;
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
}
.div_principal{
  display: flex;
  justify-content: space-between;

}
.div_principal>div{
  margin: 30px;
}
aside{
  width: 30%;
  background-color: #ce7095;
  margin: 2%;
  padding: 3%;
  border-radius: 5px;
}

aside>img{
  display: flex;
  width: 250px;
  border-radius: 10px;
  justify-content: center;
}
.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffb2c1;
  }

.div_materias{
  display: flex;
  margin: 5px;
  justify-content: space-around;

}
.div_materias > div{
  margin: 16px;
  background-color: #ce7095;
  width: 600px;
  border-radius: 5px;
  padding: 10px;
  text-align: justify;

}
  .navbar>ul>li {
    float: left;
    list-style-type: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.active {
    background-color: #04AA6D;
  }

footer{
  background-color: #ffb2c1;
}